face-recognizer/triplet_loss/dataset
face-recognizer/triplet_loss/cropped_faces_grayscale
face-recognizer/triplet_loss/model_grayscale
face-recognizer/triplet_loss/new_grayscale
face-recognizer/triplet_loss/testing_data
face-recognizer/triplet_loss/20241122_152406.jpg
face-recognizer/triplet_loss/20241122_170758.jpg
face-recognizer/triplet_loss/20241122_173045.jpg
face-recognizer/triplet_loss/20241122_173529.jpg
face-recognizer/triplet_loss/employee_face_recognition_model.keras
face-recognizer/triplet_loss/README.md

face-recognizer/haarcascade_classifier/data
face-recognizer/haarcascade_classifier/classifier.pkl
*/.ipynb_checkpoints

object-tracking/triplet_loss/README.md

README.md